<div class="container my-2">
  <h1 class="mb-1">Edit Supplier</h1>

  <div class="row justify-content-center">
    <div class="col-lg-12 mt-0">
      <form [formGroup]="editSupplierForm">
        <div class="row mb-3 ">
          <div class="col-md-10"></div>

          <div
            class="col-md-2 d-flex align-items-center justify-content-between"
          >
            
            <div class="d-flex">
              <button type="submit" (click)="onUpdate()" class="btn btn-primary">
                Save
              </button>
              <a
                routerLink="/supplierlist"
                class="btn btn-outline-secondary mx-2"
                >Cancel</a
              >
            </div>
          </div>
        </div>



        <div class="row mb-3 shadow bg-light">
          <div class="col-md-4 mt-2">
            <!-- add image -->

            <div class="mt-2 mx-3">
              <img
                alt=""
                [ngStyle]="{
                  'background-image':
                    'url(' +
                    (imageURL ? imageURL : 'assets/images/suppIcon.png') +
                    ')'
                }"
                class="rounded-circle img-preview"
              />
            </div>
            <div class="input-group">
              <input
                type="file"
                #file
                id="file"
                class="form-control"
                style="display: none"
                (change)="uploadFile(file.files)"
              />
              <button
                type="button"
                class="btn btn-success upload-btn"
                (click)="file.click()"
              >
                Replace Image
              </button>
            </div>
            <div class="mt-2">
              <span class="upload" *ngIf="progress > 0">{{ progress }}%</span>
              <span class="upload" *ngIf="message">{{ message }}</span>
            </div>

            <!-- add image -->
          </div>

          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['supplierName'].dirty &&
                    editSupplierForm.hasError('required', 'supplierName')
                  "
                >
                  <input
                    formControlName="supplierName"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Name"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['supplierName'].dirty &&
                    editSupplierForm.hasError('required', 'supplierName')
                  "
                  >*Name is required</small
                >
              </div>

              <div class="col-md-6 mb-3">
                <label for="email" class="form-label">Email</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['email'].dirty &&
                    editSupplierForm.hasError('required', 'email')
                  "
                >
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control custom-input"
                    placeholder="Enter Email"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['email'].dirty &&
                    editSupplierForm.hasError('required', 'email')
                  "
                  >*Email is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['email'].hasError('email') &&
                    editSupplierForm.controls['email'].dirty
                  "
                  >*Invalid email format</small
                >
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="phone" class="form-label">Phone</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['phone'].dirty &&
                    editSupplierForm.hasError('required', 'phone')
                  "
                >
                  <input
                    formControlName="phone"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Phone"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['phone'].dirty &&
                    editSupplierForm.hasError('required', 'phone')
                  "
                  >*Phone is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['phone'].hasError('pattern') &&
                    editSupplierForm.controls['phone'].dirty
                  "
                  >*Invalid phone format</small
                >
              </div>

              <div class="col-md-6 mb-3">
                <label for="street" class="form-label">Street</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['street'].dirty &&
                    editSupplierForm.hasError('required', 'street')
                  "
                >
                  <input
                    formControlName="street"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Street"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['street'].dirty &&
                    editSupplierForm.hasError('required', 'street')
                  "
                  >*Street is required</small
                >
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="city" class="form-label">City</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['city'].dirty &&
                    editSupplierForm.hasError('required', 'city')
                  "
                >
                  <input
                    formControlName="city"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Street"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['city'].dirty &&
                    editSupplierForm.hasError('required', 'city')
                  "
                  >*City is required</small
                >
              </div>

              <div class="col-md-6 mb-3">
                <label for="state" class="form-label">State</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['state'].dirty &&
                    editSupplierForm.hasError('required', 'state')
                  "
                >
                  <input
                    formControlName="state"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Street"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['state'].dirty &&
                    editSupplierForm.hasError('required', 'state')
                  "
                  >*State is required</small
                >
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="country" class="form-label">Country</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['country'].dirty &&
                    editSupplierForm.hasError('required', 'country')
                  "
                >
                  <input
                    formControlName="country"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Country"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['country'].dirty &&
                    editSupplierForm.hasError('required', 'country')
                  "
                  >*Country is required</small
                >
              </div>

              <div class="col-md-6 mb-3">
                <label for="zipcode" class="form-label">Zip Code</label>
                <div
                  class="input-field"
                  [class.error]="
                    editSupplierForm.controls['zipCode'].dirty &&
                    editSupplierForm.hasError('required', 'zipCode')
                  "
                >
                  <input
                    formControlName="zipCode"
                    type="text"
                    class="form-control custom-input"
                    placeholder="Enter Zip Code"
                  />
                </div>
                <small
                  class="text-danger"
                  *ngIf="
                    editSupplierForm.controls['zipCode'].dirty &&
                    editSupplierForm.hasError('required', 'zipCode')
                  "
                  >*ZipCode is required</small
                >
              </div>
            </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
